*{
    box-sizing: border-box;
}

body{
    background-color: hsl(200, 88%, 48%);
    color: black;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.meter{
    width: 90%;
    max-width: 480px;
    height: 40px;
    border: 4px solid black;
    border-radius: 20px;
    margin: 10px auto;
    position: relative;
    
    box-shadow: 0 0 calc(1px * var(--strength,0)) 0 hsl(19, 68%, 55%); ;
    overflow: hidden;
}
.meter::before{
    /* --strength:50; */
    content: "";
    height: 100%;
    /* 0 is fallback value if no strength value given */
    width: calc(1% * var(--strength,0));
    background-color:hsl(19, 68%, 55%);
    position: absolute;
    left: 0;
    transition: width .8s;
}

.password-input{
    
    width: 90%;
    max-width: 480px;
    height: 40px;
    margin-top: 20px;
    border-radius: 8px;
    border: 2px solid hsl(200, 88%, 48%);
    background-color: hsl(200, 84%, 71%);
    font-size: 1.4rem;
    padding: 10px; 
    text-align: center;
    outline: none;
}
.password-input:focus{
    border-color:  hsl(200, 100%, 24%);
}

.reasons * {
    margin: 15px auto;
    font-size: 1.2rem;
    color: hsl(200, 97%, 73%);
}